{% extends 'base.html' %}

{% block content %}
<hr class="my-3" />
{% if masonry %}
    {% if results %}
    <div class="lead mt-3 mb-5">
        <h2 class="fw-light">{{ results | length }} total records found related to ‘<strong>{{ keyword }}</strong>‘ </h2>
    </div>
    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 714px;">
        {% for result in results %}
        <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
            <div class="card">
                <div class="card-body">
                    <p><small>This is word is used for ‘<i>{{ result[0] }}</i>‘</small></p>

                    <p style="font-size: 20pt;">{{ result[1] | capitalize }}</p>
                    <audio src="{{ url_for('generate_speech_url', lang='en', text=result[1] ) }}" controls="true" class="audio-1"></audio>                            
                    
                    <p style="font-size: 20pt; margin-top: 1rem;">{{ result[2] | capitalize }}</p>
                        <audio src="{{ url_for('generate_speech_url', lang='de', text=result[2] ) }}" controls="true" class="audio-2"></audio>                            
                    
                        <p style="font-size: 20pt; margin-top: 1rem;"><span data-bs-toggle="tooltip" data-bs-title="{{ result[4] }}">{{ result[3] }}</span></p>
                        <audio src="{{ url_for('generate_speech_url', lang='zh', text=result[3] ) }}" controls="true" class="audio-3"></audio>                            
                    
                        <p style="font-size: 20pt; margin-top: 1rem;">{{ result[5] | capitalize }}</p>
                        <audio src="{{ url_for('generate_speech_url', lang='tl', text=result[5] ) }}" controls="true" class="audio-4"></audio>                            
                 
                
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <div class="lead mb-5">
        <h2 class="fw-light">No results found for <strong>` {{ keyword }} `</strong>. Try again?</h2>
        <p>...or <a href="https://forms.gle/Ruxwt2GVXjHUKnKT6" target="_blank" class="display-link">contribute to the dictionary</a>!</p>
    </div>
    {% endif %}
{% endif %}

{% if random %}
<div class="lead mt-5 mb-5">
    <div class="row">
        {{ total }} 
        <div class="col-md-12">
            <p class="display-6">{{ random['en'] | capitalize }}
                <audio src="{{ url_for('generate_speech_url', lang='en', text=random['en'] ) }}" controls="true" class="audio-1"></audio>                            
            </p>
            <p class="display-6">{{ random['de'] | capitalize }} 
                <audio src="{{ url_for('generate_speech_url', lang='de', text=random['de'] ) }}" controls="true" class="audio-2"></audio>
            </p>
            <p class="display-6"> <span data-bs-toggle="tooltip" data-bs-title="{{ random['pinyin'] }}">{{ random['zh-cn'] }}</span>
                <audio src="{{ url_for('generate_speech_url', lang='zh', text=random['zh-cn'] ) }}" controls="true" class="audio-3"></audio>                               
                
            </p>
            <p class="display-6">{{ random['ph-tl'] }}
                <audio src="{{ url_for('generate_speech_url', lang='tl', text=random['ph-tl'] ) }}" controls="true" class="audio-4"></audio>                
            </p>
        </div>
    </div>
</div>
{% endif %}

<script>
    function handle(e) {
        var input = document.getElementById("search").value;
        var inputLength = input.replace(/\s/g, '').length;
        if (e.key === "Enter" && inputLength >= 4) {
            alert("Enter was just pressed and the input is at least 4 characters long.");
        }
        return false;
    }
    
</script>

{% endblock %}