{% extends 'base.html' %}

{% block content %}
<hr class="my-3" />
{% if masonry %}
    {% if results %}
    <div class="lead mt-3 mb-5">
        <h2 class="fw-light">{{ results | length }} total records found related to ‘<strong>{{ keyword }}</strong>‘ </h2>
    </div>
    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 714px;">
        {% for result in results %}
        <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
            <div class="card">
                <div class="card-body">

                    <p class="display-6">
                        <a href="{{ url_for('play', input=result[1], lang='en' ) }}" class="display-link">
                            {{ result[1] | capitalize }}
                            <svg width="30" height="30">
                                <use xlink:href="#playsound" />
                            </svg>
                        </a>
                    </p>
                    <p style="line-height:3em">
                        <a href="{{ url_for('play', input=result[2], lang='de' ) }}" class="btn btn-purple-light">
                            {{ result[2] | capitalize }}
                            <svg width="20" height="20">
                                <use xlink:href="#playsound" />
                            </svg>
                        </a>
                        <a href="{{ url_for('play', input=result[3], lang='zh' ) }}" class="btn btn-warning">
                            {{ result[3] | capitalize }}
                            <svg width="20" height="20">
                                <use xlink:href="#playsound" />
                            </svg>
                            {{ result[4] }}
                        </a>
                        <a href="{{ url_for('play', input=result[5], lang='tl' ) }}" class="btn btn-primary">
                            {{ result[5] | capitalize }}
                            <svg width="20" height="20">
                                <use xlink:href="#playsound" />
                            </svg>
                        </a>
                        <a href="{{ url_for('play_quad', en=result[1], de=result[2], zh=result[4], tl=result[7] ) }}"
                            class="btn btn-secondary">
                            Play all
                            <svg width="20" height="20">
                                <use xlink:href="#playsound" />
                            </svg>
                        </a>
                    </p>
                    <p><small>This is word is used for {{ result[0] | capitalize }}</small></p>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <div class="lead mb-5">
        <h2 class="fw-light">No results found for <strong>` {{ keyword }} `</strong>. Try again?</h2>
        <p>...or contribute to the dictionary!</p>
    </div>
    {% endif %}
{% endif %}

{% if random %}
<div class="lead mt-5 mb-5">
    <div class="row">
        {{ total }} 
        <div class="col-md-12">
            <p><small>This phrase can be used in the context of ‘<strong>{{ random['type'] | capitalize }}</strong>‘</small></p>
                <p class="display-3">
                    <a href="{{ url_for('play', input=random['en'], lang='en' ) }}" class="display-link">
                        {{ random['en'] | capitalize }} 
                        <svg width="30" height="30">
                            <use xlink:href="#playsound" />
                        </svg>
                    </a>
                </p>
                <p class="fs-large" style="line-height:3em;">
                    <a href="{{ url_for('play', input=random['de'], lang='de' ) }}" class="btn btn-purple-light">
                        {{ random['de'] | capitalize }}
                        <svg width="20" height="20">
                            <use xlink:href="#playsound" />
                        </svg>
                    </a>
                    <a href="{{ url_for('play', input=random['zh-cn'], lang='zh' ) }}" class="btn btn-warning">
                        {{ random['zh-cn'] | capitalize }}
                        <svg width="20" height="20">
                            <use xlink:href="#playsound" />
                        </svg>
                    </a>
                    <a href="{{ url_for('play', input=random['ph-tl'], lang='tl' ) }}" class="btn btn-primary">
                        {{ random['ph-tl'] | capitalize }}
                        <svg width="20" height="20">
                            <use xlink:href="#playsound" />
                        </svg>
                    </a>
                    <a href="{{ url_for('play_quad', en=random['en'], de=random['de'], zh=random['zh-cn'], tl=random['ph-tl'] ) }}"
                        class="btn btn-secondary">
                        Play all
                        <svg width="20" height="20">
                            <use xlink:href="#playsound" />
                        </svg>
                    </a>
                </p>
                

        </div>
    </div>
</div>
{% endif %}

<script>
    function handle(e) {
        var input = document.getElementById("search").value;
        var inputLength = input.replace(/\s/g, '').length;
        if (e.key === "Enter" && inputLength >= 4) {
            alert("Enter was just pressed and the input is at least 4 characters long.");
        }
        return false;
}
</script>

{% endblock %}